<ul class="pager-list">
  <li>
    <a href="#" class="pager-btn pager-first" data-page="1" aria-label="Go to first page">
      <svg width="13" height="12" class="pager-icon flip" aria-hidden="true">
        <use href="/img/sprite.svg#icon-double-arrow-right"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#" class="pager-btn pager-prev" aria-label="Go to previous page">
      <svg width="20" height="20" class="pager-icon flip" aria-hidden="true">
        <use href="/img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </li>
  <li>
    <ul class="pager-numbers"></ul>
  </li>
  <li>
    <a href="#" class="pager-btn pager-next" aria-label="Go to next page">
      <svg width="20" height="20" class="pager-icon" aria-hidden="true">
        <use href="/img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#" class="pager-btn pager-last" aria-label="Go to last page">
      <svg width="13" height="12" class="pager-icon" aria-hidden="true">
        <use href="/img/sprite.svg#icon-double-arrow-right"></use>
      </svg>
    </a>
  </li>
</ul>
